{% extends "todo/base.html" %}

<!-- main content of todo app  -->
{% block content %}
<!-- Add new task form -->

<form action="{% url 'todo:add_task' %}" method="post">
  {% csrf_token %} {{form.title}}
  <button type="submit">Add Task</button>
</form>
<!-- list tasks -->
{% for task in tasks %}
<p>

    <form method="post" id="task-form" action="{% url 'todo:update_task' task.id %}">
      <a href="{% url 'todo:detail' task.id %}"> {{task.title}} </a>
      {% csrf_token %}
      <input
      {% if task.completed %} checked {% endif %} type="checkbox" 
      name="completed"
      onchange="this.form.submit()"
      />
      <a href="{% url 'todo:update_task' task.id %}">edit</a>
    </form>
</p>
{% endfor %}

<!-- end of for loop -->
{% endblock %}
